extends ../layout 

block content 
  h1 Create new customer 
  form(action="/customer/create", method="post", enctype="multipart/form-data") 
    div 
      label(for="email") Email 
      input#email(name='email') 
    div 
      label(for="fullname") Fullname 
      input#fullname(name='fullname') 
    div 
      label(for="password") Password 
      input#password(name='password',type='password') 
    div 
      label(for="image") Image 
      input#image(type='file', name='image') 
    div 
      input(type="submit", value="Create")